@import url(https://fonts.googleapis.com/css?family=Ubuntu);

/* General */
* {
  padding: 0;
  margin: 0;
}

html { 
  width: 100%; 
  height:100%; 
}

body {
  color: white;
  background: #363636;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-family: Ubuntu;
}

h1 {
  text-align: center;  
}

button {
  /*border-radius: 0;*/
}

.error-form {
    color:red;
}
.valid-form {
    color:green;
}

/********** INDEX.HTML **********/
.body-login {   
  /*background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top,  rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg,  #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg,  #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom,  rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg,  #670d10 0%,#092756 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756',GradientType=1 );
 */
  background: url(./images/FONDO.png) no-repeat center center fixed; 
  background-size: cover;
}

.login { 
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  width: 300px;
  height: 300px;
}

.login h1 { color: #fff; text-shadow: 0 0 10px rgba(0,0,0,0.3); letter-spacing:1px; text-align:center; }

.login input { 
  width: 100%; 
  margin-bottom: 10px; 
  background: rgba(0,0,0,0.3);
  border: none;
  outline: none;
  padding: 10px;
  font-size: 13px;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  border: 1px solid rgba(0,0,0,0.3);
  border-radius: 4px;
  box-shadow: inset 0 -5px 45px rgba(100,100,100,0.2), 0 1px 1px rgba(255,255,255,0.2);
  -webkit-transition: box-shadow .5s ease;
  -moz-transition: box-shadow .5s ease;
  -o-transition: box-shadow .5s ease;
  -ms-transition: box-shadow .5s ease;
  transition: box-shadow .5s ease;
}

.login input:focus { box-shadow: inset 0 -5px 45px rgba(100,100,100,0.4), 0 1px 1px rgba(255,255,255,0.2); }

/********** ADMINISTADOR.HTML **********/
/**STYLES NAVBAR**/
.navbar-default {    
  background-color: #dd132a;
  border-color: #dd132a;
}

.navbar-default .navbar-toggle {
    border-color: white;
}

.navbar-default .navbar-brand{
    color: white;
}

.navbar-default .navbar-header > a:hover {
  color: #333;
}

.navbar-header .icon-bar {
  background-color: white !important;
}

.navbar-default .navbar-nav > li > a {
  color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: white;
  color: white;
}
/**************/
.nav-separador {
  margin-bottom: 70px;
}

/* Cosmetic only  PAGINACION*/
#easyPaginate {
      width:auto;
      text-align:center;
}
.easyPaginateNav  {
    text-align:center;
    width:auto;
    margin: 0 auto;
}
#easyPaginate img{
  display:block;
  margin-bottom:10px;
}

.easyPaginateNav a {
  padding:5px;
  margin:auto;
  color: #ffffff;
}

.easyPaginateNav a .current {
  font-weight:bold;
  text-decoration:underline;
  margin:auto;
}

/*pagination raop*/
#paginationNav {
  padding-top: 20px;
  color: white;
  margin: 0 auto;
}

#paginationNav a{
  color: white;
  cursor: pointer;
}

#paginationNav .pages .current{
  font-weight:bold;
  text-decoration:underline;
  margin:auto;
}

#paginationNav .pages {
  text-align: center;
}

.pages .page{
  padding: 5px;
}
/****************************/

#logoSantander img{
  height: 35px;
  display: block;
  margin: 0 auto;
  padding-top: 10px;

  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

#logoWorkCafe{
  width: 100%;
}

#logoWorkCafe img{
  height: 50px;
  display: block;
  margin: 0 auto;
}

.cabecera-separator {
  border-bottom: 2px solid grey;
}
.cabecera-separator:after {
  content: '';
  display: block;
  border-bottom: 2px solid #dd132a;
  margin-top: -5px;
  margin-bottom: -2px;
  max-width: 100px;
}

#listaContainerSucursales {  
  color: white;
}

#listaContainerDispositivos {  
  color: white;
}

#listaPlaylist {  
  color: white;
  margin-bottom: 20px;
}

#contenedorOpcion {  
  margin-bottom: 20px;
}

.listaCabecera {  
  color: #a0a0a0;
  padding: 10px 10px 10px 10px;
  font-size: 14px;
  /*text-align: center;*/
}



.listaSucursal {
  color:white;
  border: 1px solid #868686;
  border-radius: 8px;
  background: #464646;
  padding: 8px 10px 8px 10px;
  font-size: 12px;
  margin-bottom: 5px;
  display: block;

  /*text-align: center;*/ 
}

.listaSucursal:hover{
   background-color:#333333;
}

.listaSucursal:active {
    background-color:#666666;
}

.listaDispositivo {
  color:white;
  border: 1px solid #868686;
  border-radius: 8px;
  background: #464646;
  padding: 8px 10px 8px 10px;
  font-size: 12px;
  margin-bottom: 5px;
      display: block;
  /*text-align: center;*/ 
}

.listaDispositivo:hover{
   background-color:#333333;
}

.listaDispositivo:active {
    background-color:#666666;
}

.listaPlaylist {
  color:white;
  border: 1px solid #868686;
  border-radius: 8px;
  background: #2b2b2b;
  padding: 8px 10px 8px 10px;
  font-size: 12px;
  margin-bottom: 5px;
  /*text-align: center;*/ 
}

.listaPlaylist:hover{
   background-color:#444444;
}

.listaPlaylist:active {
    background-color:#666666;
}

.listaEquipo {  
  border: 1px solid;
  background: #05486C;
  padding: 8px 10px 8px 10px;
  text-align: center;
}

.subCabecera {
  font-size: 18px;
}

.fontLight {
  font-weight: lighter;
}

.floatRight {
  float: right;
}
.iconStatus {}

.italic {
  font-style: italic;
}

.iconText {
  font-size: 12px;
  display: inline;
}

.formNewElement {
  text-align: left;  
}

.margin-br {
  margin-bottom: 10px;
}

#btnClear {
	float:right;
}
#addElement {

}

#removeElement {
	float:right;
}

#alertMessage {
  width: 100%;
  display: block;
}

.videoupdate {
   width: 100%;
}

.videoupdateCont {
  width: 33.33%;
  padding: 10px;
}

.videopopup {
   max-width: 100%;
   height: auto;
}

.divThumbnail {
   display: inline !important;
}

.text-overflow {  
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-ellipsis {  
  white-space: nowrap;
  text-overflow: ellipsis;
}

.flexCenter {
  display:flex;
  align-items:center;
}

.listElement {
  margin: 2px 0 2px 0;
}

.posRelative {
  position: relative;
}
.inlineBlock {
  display: inline-block;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.videoTag {
   /*float: right;
   position: absolute;
   left: 80px;
   top: 5px;
   z-index: 1000;
   background-color: #337ab7;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold; */

   float: right;
   position: absolute;
   right: 5px;
   top: 5px;
   z-index: 1000;
   background-color: #337ab7;
   padding: 5px;
   color: #FFFFFF;
   font-weight: bold;
}

.circulo {
  height: 32px;
  width: 32px;
  background-color: #dd132a;
  border-radius: 100%;
  line-height: 32px;
}

.circulo p{
  vertical-align: middle; 
  text-align: center; 
}

.center { 
  text-align: center;
  margin: 0 auto;
  display: inherit !important;
}

.img-text { 
  text-align: center;
  color: #333333; 
}

/*Cambio para que se vea bien el check box */
.checkbox {
  padding-right: 10px;
  display: inline-block;
}


/*style modal */

.modal-header {
  width: 100%;
  color: white;
  background-color: #dd132a;
  text-align: center;
  font-size: 20px;
  border-radius: 5px;
  border-bottom: none;
}

.close {
  color: white;
}

.modal-content { 
  color: white;
  background: #363636;
}   

.modal-footer { 
}      


/*Centrar Modal*/
.modal {
  text-align: center;
  padding: 0!important;  
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

/************************/

.maxWidth {
  width: 100%;
}

.well {
    background: #2b2b2b;
    border-color: grey;
}

select {
  color: white !important;
  background: #2b2b2b !important;
}

select option {
    background: #2b2b2b;
    color: white;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

input {
  color: white !important;
  background: #2b2b2b !important;
}

.cover {
  object-fit: cover;
}


.videoThumbnail {
  /*padding: 0 5px 0 5px;*/
  position: relative;
  overflow: hidden;
  font-size: 12px;

}

.videoThumbnail img{
  width: 100%;
  height: 125px;
}

.videoThumbnailList {
  /*padding: 0 5px 0 5px;*/
  width: 100% !important;
  height: 100%;
  position: relative;
  font-size: 12px;
  border-bottom:1px solid white;
  padding: 0px
}

/*==========  Mobile First Method  ==========*/

 /* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .videoupdateCont {
    width: 50%;
  }

  .flexCenter {
    display:inherit;
  }

}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width: 320px) and (max-width: 480px) {
  .videoupdateCont {
    width: 50%;
  }

  .flexCenter {
    display:inherit;
  }

  .videoThumbnail { 
    z-index: 1000;
    padding: 5px;
    width: 50%;
    /*height: 25%;*/
  }
}

 /* Small Devices, Tablets */
@media only screen and (min-width: 480px) and (max-width: 768px) {
  .flexCenter {
    display:inherit;
  }

  .videoThumbnail { 
    z-index: 1000;
    padding: 5px;
    width: 33.33%;
    /*height: 25%;*/
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (max-width: 992px) {
  .videoThumbnail { 
    z-index: 1000;
    padding: 5px;
    width: 20%;
    /*height: 25%;*/
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) and (max-width : 1200px) {
  .videoThumbnail { 
    z-index: 1000;
    padding: 5px;
    width: 16.66%;
    /*height: 25%;*/
  }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px){
  .videoThumbnail { 
    z-index: 1000;
    padding: 5px;
    width: 12.5%;
    /*height: 25%;*/
  }
}

/*no spinner for input numbers*/

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
